<div class="container col-11 mt-4">
  <%= form_with(model: investigator) do |form| %>
    <div class="row mb-4">
      <div class="col-12">
        <%= form.label "Cédula", style: "display: block", class: "fw-bold mb-2"%>
        <%= form.text_field :id_card, class: "form-control", placeholder: "Cédula"%>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <%= form.label "Nombre", style: "display: block", class: "fw-bold mb-2"%>
        <%= form.text_field :first_name, class: "form-control", placeholder: "Nombre"%>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <%= form.label "Apellido", style: "display: block", class: "fw-bold mb-2"%>
        <%= form.text_field :last_name, class: "form-control", placeholder: "Apellido"%>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <%= form.label "Correo electrónico", style: "display: block", class: "fw-bold mb-2"%>
        <%= form.text_field :email, class: "form-control", placeholder: "Correo"%>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col">
        <%= button_tag( :class => "btn btn-primary") do %>
          <i class="bi bi-check-lg"></i>
          Guardar
        <% end %>
      </div>
    </div>
  <% end %>
</div>
