<%= form_with(model: investigator) do |form| %>
  <% if investigator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(investigator.errors.count, "error") %> prohibited this investigator from being saved:</h2>

      <ul>
        <% investigator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id_card, style: "display: block" %>
    <%= form.text_field :id_card %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :emial, style: "display: block" %>
    <%= form.text_field :emial %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
