<div id="<%= dom_id investigator %>">
  <p>
    <strong>Id card:</strong>
    <%= investigator.id_card %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= investigator.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= investigator.last_name %>
  </p>

  <p>
    <strong>email:</strong>
    <%= investigator.email %>
  </p>

</div>
