<div class="row d-flex align-items-center article-fields">
    <div class="row">
      <%= form.hidden_field :_destroy %>
      <% form.hidden_field :record_id, value: record.id %>
    </div>

    <div class="col-4">
      <%= form.label :number, "N° Artículo", style: "display: block; font-weight:bold;" %>
      <%= form.text_field :number, class: "form-control", placeholder: "Número" %>
    </div>
    
    <div class="col-6">
      <%= form.label :project_id, "Proyecto", style: "display: block; font-weight:bold;" %>
      <%= form.select :project_id, options_for_select(@projects.all), {}, class: "form-select" %>
    </div>

    <div class="col-2 text-end mt-3">
        <div class="btn-group">
            <%= link_to "#", data: { action: "click->record-forms#remove_article" }, class: "btn btn-sm btn-danger py-2" do %>
                <i class="bi bi-trash"></i>
            <% end %>
            <%= link_to "#", data: { action: "click->record-forms#add_agreement" }, class: "btn btn-sm btn-primary py-2" do %>
                <i class="bi bi-plus-circle-dotted"></i>
                <span class="fw-bold">Acuerdo</span>
            <% end %>
        </div>
    </div>
    <span data-record-forms-target="agr_reference" class="agr-reference"></span> <!-- Used as a reference point to add agreements at the end -->

    <template data-record-forms-target="agr_template">
      <%= form.fields_for :agreements, Agreement.new, child_index: "TEMPLATE_RECORD" do |agreement| %>
        <div>
          <%= render "records/agreements/agreements_fields", form: agreement, record: record, article: @article %>
        </div>
      <% end %>
    </template>
</div>