<!DOCTYPE html>
<html>
  <head>
    <title>COOINV</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="d-flex flex-column">
    <%= render "shared/navigation" %>
    <div id="page-content" class="row justify-content-md-center">
      <div class="col-md-8 my-4">
        <div class="mb-3">
          <%= render "shared/devise_alerts" %>
        </div>
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
